div{
    color:crimson;
    border:solid 1px black;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}
body{
    margin: 0px;
}

h1 {
    color: red;
}

.navbar{
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    padding: 20px;
    text-align: center;
}

.navbar a{
    padding: 20px;
    text-decoration: none;
    color: black;
}